
<form class="Form" method="post" action="/concessionaires/test">
  <div class="Title">
    <h1>Digite os números do boleto do tipo concessionária</h1>
  </div>
  <div class="FormAll">
    <div class="FormEach">
      <input name="field1" maxlength="11" size="12">
      <input name="field1dv" maxlength="1" size="2">
    </div>
    <div class="FormEach">
      <input name="field2" maxlength="11" size="12">
      <input name="field2dv" maxlength="1" size="2">
    </div>
    <div class="FormEach">
      <input name="field3" maxlength="11" size="12">
      <input name="field3dv" maxlength="1" size="2">
    </div>
    <div class="FormEach">
      <input name="field4" maxlength="11" size="12">
      <input name="field4dv" maxlength="1" size="2">
    </div>
  </div>

{{#if error}}
<div class="alert alert-danger alertdisplay" role="alert">
  A linha digitada não é válida<br>
  {{description}}
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alertdisplay" role="alert">
  A linha digitada é válida <br>
    <ul>
    <li>Código de barras: {{data.codeBar}}</li>
    <li>Vencimento: {{data.DueDate}}</li>
    <li>Valor: R$ {{data.value}}</li>
  </ul>
</div>
{{/if}}

 <button type="submit" class="Button btn">Validar Boleto</button>
</form>

<style>
  *{
    font-family: Archivo;
   
  }
  .FormAll{
    display: flex;
    justify-content: center;
  }
  h1 {
   color:#bcc600;
  }
  .FormEach {
    margin: 1em;
  }

input{
  font-size:18px;
  border:none;
  border-bottom:1px solid #757575;
  margin-bottom: 1.3rem;
}
  .Form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .Title {
    text-align: center;
    margin-top: 5%;
  }

  .Button {
    margin: auto;
    margin-bottom: 1em;
    padding: 0.8rem 1.3rem;
    border-radius: 0.8rem;
    font: 500 1.7rem Archivo;
    color:#FFFF;
    background: #f4b300;
    transition: background-color 0.2s;
  }

  .Button:hover {
    background: #e8bd48;
}


  .alertdisplay {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
  }

  .Home {
    margin: auto;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    padding: 0.8rem 1.3rem;
    border-radius: 0.8rem;
    font: 300 1.3rem Archivo;
    color:#FFFF;
    background: #bcc600;
    transition: background-color 0.2s;
    text-decoration: none;
  }

  .Home:hover{
    background:#54c0ce;
    color: #FFFF;
    text-decoration: none;
  }

</style>